/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */


/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .skills , .produkter, .kontakt, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.skills .evner-content,
.kontakt .kontakt-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: crimson;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

  
/* home section styling */
.home{
    display: flex;
    background: url("baggrund.jpeg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* about section styling */
.about .title::after{
    content: "Hvem er jeg?";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

/* Styling af min læring */
.skills, .produkter{
    color:#fff;
    background: #111;
}
.skills .title::before,
.produkter .title::before{
    background: #fff;
}
.skills .title::after,
.produkter .title::after{
    background: #111;
    content: "Mine skills";
}
.skills .evner-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.skills .evner-content .card:hover{
    background: crimson;
}
.skills .evner-content .card .box{
    transition: all 0.3s ease;
}
.skills .evner-content .card:hover .box{
    transform: scale(1.05);
}
.skills .evner-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.skills .evner-content .card:hover i{
    color: #fff;
}
.skills .evner-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/* styling af produkter */
.produkter .title::after{
    content: "Udvalgt arbejde";
}
.produkter .info .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.produkter .info .card:hover{
    background: crimson;
}
.produkter .info .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.produkter .info .card:hover .box{
    transform: scale(1.05);
}
.produkter .info .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.produkter .info .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.produkter .info .card:hover img{
    border-color: #fff;
}
.under-dots{
    text-align: center;
    margin-top: 20px;
}
.under-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.under-dot.active{
    width: 35px;
    border-radius: 14px;
}
.under-dot.active,
.under-dot:hover{
    background: crimson!important;
}

/* Styling af kontaktsiden */
.kontakt .title::after{
    content: "Henvendelser";
}
.kontakt .kontakt-content .column{
    width: calc(50% - 30px);
}
.kontakt .kontakt-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.kontakt .kontakt-content .left p{
    text-align: justify;
}
.kontakt .kontakt-content .left .icons{
    margin: 5px 0;
}
.kontakt .kontakt-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.kontakt .kontakt-content .row .info{
    margin-left: 30px;
}
.kontakt .kontakt-content .row i{
    font-size: 25px;
    color: crimson;
}
.kontakt .kontakt-content .info .head{
    font-weight: 500;
}
.kontakt .kontakt-content .info .under-title{
    color: #333;
}
.kontakt .right form .felter{
    display: flex;
}
.kontakt .right form .felt,
.kontakt .right form .felter .felt{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.kontakt .right form .textarea{
    height: 80px;
    width: 100%;
}
.kontakt .right form .name{
    margin-right: 10px;
}
.kontakt .right form .email{
    margin-left: 10px;  
}
.kontakt .right form .felt input,
.kontakt .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.kontakt .right form .felt input:focus,
.kontakt .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.kontakt .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.kontakt .right form .button{
    height: 47px;
    width: 170px;
}
.kontakt .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.kontakt .right form .button button:hover{
    color: crimson;
    background: none;
}

/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .skills .evner-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .kontakt .kontakt-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .skills .evner-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text
    {
        font-size: 19px;
    }
    .kontakt .right form .felter{
        flex-direction: column;
    }
    .kontakt .right form .name,
    .kontakt .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
/*-------Footer styling-------*/
.outer_footer {
    display: block;
    overflow: hidden;
    padding-top: 70px;
    box-sizing: border-box; 
    background-color: black;
  }
  
  .inner_footer {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    text-align: center;
  }
  
  .inner_footer .footer_third h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    color: crimson;
  }
  
  img{
   height: 70px;
   }

  .inner_footer .footer_third a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 200px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 5px;
    list-style: none;
    text-decoration: none;
    color: white;
  }

  /*-------Footer slut-------*/
  
 
   

  
  
  
 